body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--color-very-pale-blue);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: var(--color-pale-blue) url("/images/pattern-background-desktop.svg") no-repeat right top fixed;
    background-size: cover;
}

.order-sumary {
    position: relative;
    top: -1rem;
    width: 27.88rem;
    height: 41.5rem;
    margin: 4.25rem auto 2rem auto;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 18px 23px -5px rgba(0, 0, 0, 0.23);
}

.order-sumary p {
    width: 20rem;
    text-align: center;
    color: var(--color-desaturated-blue);
}

.sumary-body {
    width: 27.88rem;
    margin-top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
}

.sumary-body h1 {
    margin-top: 2rem;
    color: var(--color-dark-blue);
    font-size: 1.8rem;
    font-weight: bold;
}

.sumary-body p {
    line-height: 1.5rem;
}


.order-sumary-plan {
    width: 20rem;
    height: 3.5rem;
    background-color: var(--color-very-pale-blue);
    padding: 1rem 1.4rem 1rem 1rem;
    border-radius: 0.8rem;
    color: var(--color-dark-blue);
    display: flex;
    align-items: center;
}

.order-sumary-plan img {
    height: 3rem;
}

.order-summary-plan-content {
    width: 6rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 6rem 0 1.5rem;
}

.order-sumary-plan h2, a {
    font-weight: bold;

}

.order-sumary-plan a:hover {
    color: var(--color-desaturated-blue);
}

.order-sumary-plan span {
    color: var(--color-desaturated-blue);
}

.payment-button {
    width: 22.4rem;
    height: 3.4rem;
    font-size: 1rem;
    font-weight: bold;
    background: var(--color-blue);
    color: #fff;
    border: none;
    border-radius: 0.8rem;
    box-shadow: 0px 18px 23px -5px rgba(0, 0, 0, 0.23);
}

.payment-button:hover {
    background: var(--color-desaturated-blue);
}

.cancel-button {
    font-size: 1rem;
    font-weight: bold;
    background: none;
    border: none;
    color: var(--color-desaturated-blue);
}

.cancel-button:hover {
    color: var(--color-dark-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 376px) {
    .container {
        background-size: cover;

    }

    .order-sumary {
        width: 20.5rem;
        height: 38rem;
        margin-bottom: 0.2rem;
        top: -2rem;
    }

    .order-sumary img {
        width: 100%;
    }

    .order-sumary p {
        line-height: 1.5rem;
    }

    .sumary-body {
        width: 20.5rem;
    }

    .order-body img {
        max-width: 100%;
        max-height: 100%;
    }

    .sumary-body p {
        width: 17rem;
    }

    .order-sumary-plan {
        width: 16rem;
        font-size: 0.9rem;

    }

    .order-sumary-plan img {
        width: auto;
    }

    .order-summary-plan-content {
        width: 6rem;
        margin-right: 1.8rem;
        margin-left: 1.2rem;
    }

    .payment-button {
        width: 18rem;
        height: 3rem;
    }

}